table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

thead {
  background-color: #4CAF50; 
  color: #333333;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

tbody tr:nth-child(odd) {
  background-color: #F2F2F2;
}

tbody tr:hover {
  background-color: #D0D0D0;
}

td {
  font-size: 14px;
}

td:last-child {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  table {
    width: 100%;
  }
}